* {
    box-sizing: border-box;
}
hr {
    height: 1px;
    border: 1px solid $grey-color-light;
    border-width: 1px 0 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $blue-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 30px;
    font-family: Pacifico;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    
}

.post-list .post-meta {
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    padding: 0 1rem;
}

.post-link {
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;

    font-size: 24px;
    font-family: Georgia;
    font-style: italic;
    padding-left: 1rem;
    border-left: 1px solid $grey-color-light;
    padding-bottom: 1rem;
}

.post-excerpt {
    flex-grow: 1;
    margin-left: 10rem;
    padding-left: 1rem;
    border-left: 1px solid $grey-color-light;
    color: $text-color !important;
    text-decoration: none !important;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: Georgia;
    font-style: italic;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


table.form {
    border-collapse: collapse;
    td,th {
        border: 1px solid $grey-color;
        padding: 1rem;
        vertical-align: middle;
        text-align: center;
    }
}
table.full-width {
    width: 100%;
}

.comment {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(189, 195, 199,1.0);
    &:first-child {
        padding-top: 0;
    }
    img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 6px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .details {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        .date {
            color: rgba(189, 195, 199,1.0);
            font-size: .9rem;
            margin-left: .5rem;
        }
        .author {
            color: rgba(52, 73, 94,1.0);
            font-size: .9rem;
        }
    }
    .message {
        white-space: pre-wrap;
    }

}
.comment-form {
    padding-left: 4rem;
    margin-top: 2rem;
    input {
        width: 10rem;
        border: 1px solid rgba(189, 195, 199,1.0);
    }
    textarea {
        width: 100%;
        font-size: 1rem;
        padding: .5rem;
        min-height: 6rem;
        border: 1px solid rgba(189, 195, 199,1.0);
    }
    .notification {
        padding: 1rem;
        margin: 1rem 0;
        background-color: rgba(52, 152, 219, 0.3);
    }
}