---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.tags contains "tech" %}<div class="post-tag tech">
      <div class="tag-name">Tech post</div>
      <div class="tag-description">This post is about the development of Buckets rather than budgeting.</div>
    </div>{% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="next-prev-links">
    {%- if page.previous.url -%}
    <a class="prev" href="{{ page.previous.url }}">
      <div class="arrow">&larr;</div>
      <div class="text">
        <div class="title">{{page.previous.title}}</div>
        <div class="date">{{ page.previous.date | date: "%b %-d, %Y" }}</div>
      </div>
    </a>
    {%- endif -%}
    {%- if page.next.url -%}
    <a class="next" href="{{ page.next.url }}">
      <div class="text">
        <div class="title">{{page.next.title}}</div>
        <div class="date">{{ page.next.date | date: "%b %-d, %Y" }}</div>
      </div>
      <div class="arrow">&rarr;</div>
    </a>
    {%- endif -%}
  </div>

  {% assign comments = site.data.comments[page.slug] %}

  {% if comments %}
  <h2>Comments</h2>
  {% assign comments = comments | sort %}
  

  <div class="comments">
  {% for comment in comments %}
    {% assign email = comment[1].email %}
    {% assign name = comment[1].name %}
    {% assign date = comment[1].date %}
    {% assign message = comment[1].comment %}
    {% include comment.html index=forloop.index email=email name=name date=date message=message %}
  {% endfor %}
  </div>
  {% else %}
  {% endif %}

  <div id="comment-form" class="comment-form" style="display: none;">
    <a name="comment-form"></a>
    <script>
      if (window.location.search.substr(1).indexOf('comment=submitted') !== -1) {
        document.write(`<div class="notification">Comment submitted!  Your comment will be posted here after being reviewed.</div>`);
      }
    </script>
    <script>
      function setCommentStatus(text, className) {
        const elem = document.getElementById('comment-notification');
        elem.innerText = text;
        elem.setAttribute('class', className);
        elem.setAttribute('style', '');
      }
      function submitComment(event) {
        const button_el = document.getElementById('comment-submit');
        button_el.disabled = true;
        setCommentStatus('Submitting...', 'notification');
        event.preventDefault();
        const message = document.getElementById('comment-message').value;
        const email = document.getElementById('comment-email').value;
        const name = document.getElementById('comment-name').value;
        const slug = document.getElementById('comment-slug').value;
        const comment = {
          comment: message,
          email,
          name,
          subdir: slug,
        }
        let request = new XMLHttpRequest();
        request.addEventListener('load', ev => {
          setCommentStatus('Comment submitted!  Your comment will be posted here after being reviewed.', 'notification')
          button_el.disabled = false;
        });
        request.addEventListener('error', ev => {
          console.log('Error', ev);
          setCommentStatus('Error submitting comment.  If it continues not to work, please email us.', 'notification error')
          button_el.disabled = false;
        })

        request.open('POST', 'https://7nd5a97217.execute-api.us-east-1.amazonaws.com/default/GitHubJekyllComments');
        request.send(JSON.stringify(comment));
      }
      if (XMLHttpRequest) {
        document.getElementById('comment-form').setAttribute('style', '');
      }
    </script>
    <form method="POST" onsubmit="submitComment(event); return false;">
      <input type="hidden" id="comment-slug" value="{{ page.slug }}">

      <div>
        <label>Name:<br/><input id="comment-name" type="text"></label>
      </div>
      <div>
        <label>Email (optional&mdash;not displayed):<br/><input id="comment-email" type="email"></label>
      </div>
      <div>
        <label>Message:</label>
        <div>
          <textarea id="comment-message"></textarea>
        </div>
      </div>

      <div>
        <button type="submit" id="comment-submit">Add comment</button>
      </div>
        
    </form>
    <div id="comment-notification" style="display: none;"></div>
  </div>
</div>
