---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.tags contains "tech" %}<div class="post-tag tech">
      <div class="tag-name">Tech post</div>
      <div class="tag-description">This post is about the development of Buckets rather than budgeting.</div>
    </div>{% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="next-prev-links">
    {%- if page.previous.url -%}
    <a class="prev" href="{{ page.previous.url }}">
      <div class="arrow">&larr;</div>
      <div class="text">
        <div class="title">{{page.previous.title}}</div>
        <div class="date">{{ page.previous.date | date: "%b %-d, %Y" }}</div>
      </div>
    </a>
    {%- endif -%}
    {%- if page.next.url -%}
    <a class="next" href="{{ page.next.url }}">
      <div class="text">
        <div class="title">{{page.next.title}}</div>
        <div class="date">{{ page.next.date | date: "%b %-d, %Y" }}</div>
      </div>
      <div class="arrow">&rarr;</div>
    </a>
    {%- endif -%}
  </div>

  {% assign comments = site.data.comments[page.slug] %}

  {% if comments %}
  <h2>Comments</h2>
  {% assign comments = comments | sort %}
  

  <div class="comments">
  {% for comment in comments %}
    {% assign email = comment[1].email %}
    {% assign name = comment[1].name %}
    {% assign date = comment[1].date %}
    {% assign message = comment[1].message %}
    {% include comment.html index=forloop.index email=email name=name date=date message=message %}
  {% endfor %}
  </div>
  {% else %}
  {% endif %}

  <div class="comment-form">
    <a name="comment-form"></a>
    <script>
      if (window.location.search.substr(1).indexOf('comment=submitted') !== -1) {
        document.write(`<div class="notification">Comment submitted!  Your comment will be posted here after being reviewed.</div>`);
      }
    </script>
    <form method="POST" action="https://api.staticman.net/v2/entry/buckets/buckets.github.io/master/comments">
      <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}?comment=submitted#comment-form">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">

      <div>
        <label>Name:<br/><input name="fields[name]" type="text"></label>
      </div>
      <div>
        <label>Email (not displayed):<br/><input name="fields[email]" type="email"></label>
      </div>
      <div>
        <label>Message:</label>
        <div>
          <textarea name="fields[message]"></textarea>
        </div>
      </div>

      <div>
        <button type="submit">Add comment</button>
      </div>
        
    </form>
  </div>
</div>
